@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  background-color: black;
  color: white;
  font-family: VT323;
  margin: 10px 0 0 0;
  /*font-size: 1.8rem;*/
}

button {
  font-family: VT323;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1.5rem;
  font-size: 1.5rem;
  color: whitesmoke;
  background: linear-gradient(to top, #7ed56f, #28b485);
}

p {
  font-size: 2rem;
}

h1 {
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 3.5rem;
}

div > span {
  text-align: right;
}
.header-text {
  float: right;
  margin: 0;
}

hr {
  border-style: solid;
  border-width: unset;
  margin: -85px 0 110px 0;
}

.box {
  color: black;
  background-color: azure;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  line-height: 140px;
  font-size: 5rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left > button {
  display: block;
  margin: 2rem auto;
}

input {
  height: 150px;
  width: 300px;
  background-color: black;
  border: 0.5rem solid white;
  color: white;
  text-align: center;
  font-size: 5rem;
  font-family: VT323;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content {
  margin: 0 170px;
}

.instructions {
  margin-bottom: 100px;
  margin-top: 0;
}
.main {
  margin: 0 5px;
}

@media only screen and (max-width: 1024px) {
  .content {
    margin: 0 0 0 0;
    text-align: center;
  }
  .instructions {
    margin: 0;
  }
  .left {
    float: none;
  }
  .right {
    float: none;
  }
  .header-text {
    float: none;
    margin: 20px 0;
  }
  .main {
    text-align: center;
  }
  h1 {
    margin: 0 0 6rem 0;
  }
}
